@import "function";



@import "node_modules/bootstrap/scss/bootstrap.scss";


#paddingResponsive{
@media screen and (min-width:990px) and (max-width:1200px) {
  padding-bottom: 1.5em;
}
}
.img-thumbnail {
  width: 50%;
  height: 50%;
}

#navbarCollapse {
  flex-grow: 0;
} 

#partnership{
  background-image: url(../Progetto_Sett3/assets/partnership.jpeg);
  background-position: center;
  background-size: cover;
}
#partnership div{

  padding:0;
}
#partnership div img {
  margin: 0;
  padding:0;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";

